
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/Vendor/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/Vendor/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/Vendor/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/Vendor/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/Vendor/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="~/Vendor/css/style.css" />
    <link href="~/Angular/angular-material.min.css" rel="stylesheet" />

</head>
<body ng-app="app">
    <!-- HEADER -->
    <header ng-controller="headerController as ctrl">
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> 03-5757-2157</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> huycanh14@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Cổ Nhuế, Hà Nội</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> VNĐ</a></li>
                    <li ng-click="ctrl.yourAccount()"><a href=""><i class="fa fa-user-o"></i> My Account</a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/Vendor/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search" style="font-size: 15px;">
                            <form>
                                <select class="input-select" ng-model="ctrl.product_category_id" ng-options="x.id as x.name for x in ctrl.product_categories"></select>
                                <input class="input" placeholder="Search here" ng-model="ctrl.keyword" ng-keyup="ctrl.replacePage()">
                                <button class="search-btn" ng-click="ctrl.search()">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown" style="color:white; cursor: pointer" ng-click="ctrl.goToCart()">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Your Cart</span>
                                </a>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
        <nav id="navigation">
            <!-- container -->
            <div class="container">
                <!-- responsive-nav -->
                <div id="responsive-nav">
                    <!-- NAV -->
                    <ul class="nav" style="font-size: 15px;">
                        <li class="active nav-item"><a href="#">Home</a></li>
                        <li class="nav-item" ng-repeat="brand in ctrl.brands"><a href="#!/brand/{{brand.id}}">{{brand.name}}</a></li>
                    </ul>
                    <!-- /NAV -->
                </div>
                <!-- /responsive-nav -->
            </div>
            <!-- /container -->
        </nav>
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    @* Content *@
    <div class="content-app" ng-view>

    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/Vendor/js/jquery.min.js"></script>
    <script src="~/Vendor/js/bootstrap.min.js"></script>
    <script src="~/Vendor/js/slick.min.js"></script>
    <script src="~/Vendor/js/nouislider.min.js"></script>
    <script src="~/Vendor/js/jquery.zoom.min.js"></script>
    <script src="~/Vendor/js/main.js"></script>
    <script src="~/Angular/angular.min.js"></script>
    <script src="~/Angular/angular-animate.min.js"></script>
    <script src="~/Angular/angular-aria.min.js"></script>
    <script src="~/Angular/angular-messages.min.js"></script>
    <script src="~/Angular/angular-material.min.js"></script>
    <script src="~/Angular/angular-route.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="https://code.angularjs.org/1.4.0-beta.6/angular.js" data-semver="1.4.0-beta.6"></script>
    <script src="~/Angular/app.js"></script>
    <script src="~/Angular/Services/headerService.js"></script>
    <script src="~/Angular/Controllers/headerController.js"></script>
    <script src="~/Angular/Services/homeService.js"></script>
    <script src="~/Angular/Controllers/homeController.js"></script>
    <script src="~/Angular/Services/productCategoryService.js"></script>
    <script src="~/Angular/Controllers/productCategoryController.js"></script>
    <script src="~/Angular/Services/brandService.js"></script>
    <script src="~/Angular/Controllers/brandController.js"></script>
    <script src="~/Angular/Services/searchService.js"></script>
    <script src="~/Angular/Controllers/searchController.js"></script>
    <script src="~/Angular/Services/productService.js"></script>
    <script src="~/Angular/Controllers/productController.js"></script>
    <script src="~/Angular/Services/singInService.js"></script>
    <script src="~/Angular/Controllers/singInController.js"></script>
    <script src="~/Angular/Services/proFileService.js"></script>
    <script src="~/Angular/Controllers/proFileController.js"></script>
    <script src="~/Angular/Services/orderService.js"></script>
    <script src="~/Angular/Controllers/orderController.js"></script>
    <script src="~/Angular/Routing.js"></script>
</body>
</html>
